NODE_ENV=development
APP_NAME="TEST Open API"
APP_HOST=0.0.0.0
APP_PORT=3000
APP_VERSION=0.1.0
API_PREFIX=api/v1
SWAGGER_PATH=docs
OPENAPI_JSON_PATH=openapi.json
OPENAPI_YAML_PATH=openapi.yaml
REQUEST_ID_HEADER=x-request-id
LOG_LEVEL=debug
REQUEST_TIMEOUT_MS=10000
SENTRY_DSN=
SENTRY_TRACES_SAMPLE_RATE=1
APIDOG_PROJECT_ID=1276414
APIDOG_API_TOKEN=
APIDOG_OPENAPI_URL=https://raw.githubusercontent.com/wanlop-357/TEST-OPEN-API/dev/openapi.yaml
APIDOG_LOCALE=en-US
APIDOG_API_VERSION=2024-03-28
APIDOG_ENDPOINT_FOLDER_ID=0
APIDOG_SCHEMA_FOLDER_ID=0
APIDOG_ENDPOINT_OVERWRITE_BEHAVIOR=OVERWRITE_EXISTING
APIDOG_SCHEMA_OVERWRITE_BEHAVIOR=OVERWRITE_EXISTING
APIDOG_UPDATE_FOLDER_OF_CHANGED_ENDPOINT=false
APIDOG_PREPEND_BASE_PATH=false
