NODE_ENV=development
APP_NAME="TEST Open API"
APP_HOST=0.0.0.0
APP_PORT=3000
APP_VERSION=0.1.0
API_PREFIX=api/v1
SWAGGER_PATH=docs
OPENAPI_JSON_PATH=openapi.json
OPENAPI_YAML_PATH=openapi.yaml
REQUEST_ID_HEADER=x-request-id
LOG_LEVEL=debug
REQUEST_TIMEOUT_MS=10000
SENTRY_DSN=
SENTRY_TRACES_SAMPLE_RATE=1
APIDOC_PROJECT_ID=test-open-api
APIDOC_PROJECT_URL=https://test-open-api.apidoc.io
